li {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}
::marker {
    color: #61DAFB;
    font-size: 1.2em;
}

h1 {
    font-weight: 700;
    font-size: 39.06px;
    line-height: 47px;
    letter-spacing: -0.05em;

    color: #FFFFFF;
}
.facts {
    background-color: #282D35;
}
